# This defines the way to get the moonlight docker image
# By default moonlight will build the image locally. To pull
# it from the registry, set the value to 'pull'
MOONLIGHT_BUILD=build

# This defines the image name to use when building/pulling
# the moonlight docker image
MOONLIGHT_IMAGE=moonlightpanel/panel:2.1

# Specify where the fetch the moonlight source code when building
# Uncomment this if you want to select a specific version of moonlight
# Or you want to deploy a custom fork
# MOONLIGHT_REPOSITORY=https://github.com/Moonlight-Panel/Moonlight
# MOONLIGHT_BRANCH=v2_ChangeArchitecture

# Set this to the url moonlight is accessible through the internet
MOONLIGHT_URL=http://localhost:9069

# This defines the port moonlight should run on
MOONLIGHT_PORT=9069

# Here you can adjust where the moonlight instance will save
# the application and database data
MOONLIGHT_DATA=./data

# With the following settings you can adjust the database configuration
MOONLIGHT_DATABASE_USER=moonlight
MOONLIGHT_DATABASE_PASSWORD=s3cret
MOONLIGHT_DATABASE_NAME=moonlight